body{
    margin: 0px;
}
.warper{
    position: relative;
}
.baseVideo{
    width: 100%;
}
.topVideoWarper{
    position: absolute;
    top: 0px;
    display: flex;
    height: 100%;
    right: 15%;
}
.topVideo{
    display: flex;
    align-self: center;
    width: 746px;
    height: 746px;
}
.topVideo560{
    display: flex;
    align-self: center;
    width: 560px;
    height: 560px
}
.topVideo448{
    display: flex;
    align-self: center;
    width: 448px;
    height: 448px
}
.topVideo398{
    display: flex;
    align-self: center;
    width: 398px;
    height: 398px
}
.topVideo373{
    display: flex;
    align-self: center;
    width: 373px;
    height: 373px
}


#transparent{
    z-index: 10;
    position: absolute;
    display: flex;
    align-self: center;
    opacity: 0.6;
}
.transparent{
    z-index: 10;
    position: absolute;
    display: flex;
    align-self: center;
    opacity: 0.6;
}
.svg-clipped-whell {
    -webkit-clip-path: url(#svgWhellPath);
    clip-path: url(#svgWhelltPath);
}
.svg-clipped-whell560 {
    -webkit-clip-path: url(#svgWhellPath560);
    clip-path: url(#svgWhelltPath560);
}
.svg-clipped-whell448 {
    -webkit-clip-path: url(#svgWhellPath448);
    clip-path: url(#svgWhelltPath448);
}
.svg-clipped-whell398 {
    -webkit-clip-path: url(#svgWhellPath398);
    clip-path: url(#svgWhelltPath398);
}
.svg-clipped-whell373 {
    -webkit-clip-path: url(#svgWhellPath373);
    clip-path: url(#svgWhelltPath373);
}